#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.wrapper {
  display: flex;
}
.container {
  height: 400px;
  width: 400px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}
.valueNKInput {
  height: 100px;
  width: 90%;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
}
.valueSInput {
  height: 100px;
  width: 90%;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
}
.buttonAnswer {
  padding: 5px;
  height: 50px;
  width: 90%;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
}
.label {
  padding: 10px;
  font-size: 60px;
  border-radius: 10px;
  color: black;
}
